body {
  font-family: Raleway, sans-serif;
  background: #f6f8fd;
}

.bg-nav {
  background: linear-gradient(to right, #961313, #d62727);
  box-shadow: #000000 0px 3px 20px;
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000000 !important;
}


/* Dropdown */
.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
  color: #31316a;
  font-weight: 500;
  transition: all 0.3s;
}
.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #000000;
}

/* Main Content */
.hero-section img {
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}

/* 2 Konten */
.promo-card {
    background: linear-gradient(to right, #e40000, #b63030);
    color: white;
    border-radius: 20px;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.promo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.promo-card h5 {
    font-size: 1.1rem;
}

.promo-card p {
    color: #fff; /* sebelumnya #555 (tidak kontras) */
    line-height: 1.6;
}

.bg-owner {
  background: #fff;
}

.bg-owner:hover{
  background-color: #961313;
  color: #000000;
}

/* Running Text */
.running-bar {
    background: linear-gradient(to right, #961313, #d62727);
    color: #ffffff;
    padding: 12px 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.running-text {
    display: inline-block;
    padding-left: 100%;
    animation: berjalan 25s linear infinite;
    font-weight: bold;
    font-size: 1.1rem;
}

@keyframes berjalan {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* About Me */
.text-justify {
  text-align: justify;
}


.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 100%;
}

.btn-social-media {
  color: #31316a;
  background-color: #cdcfdf;
  border-color: #cdcfdf;
  width: 2rem;
  height: 2rem;
  padding: 1.2rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.btn-social-media:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* Footer */
.footer {
  background-color: #bb2c2c;
}

.footer .copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #eb2d2d;
}

.footer .link a {
  color: #ffffff;
  text-decoration: none;
}

.footer .link a:hover {
  color: #000000;
}
